.a
{
	background: url(1.png);
	color: black;
}
.a1
{
	background: url(1.png), url(2.png);
}
.a2
{
	background: url(1.png), url(2.png);
	background-position: center bottom, left top;
}
.a3
{
	background: url(1.png) center bottom no-repeat, url(2.png) no-repeat;
}
.b
{
	background-image: url(1.png);
}
.b1
{
	background-image: url(1.png), url(2.png);
}
.b2
{
	background-image: url(1.png), url(2.png);
}
.b3
{
	background-image: url(1.png), url(2.png);
	background-position: center bottom, left top;
}
.c
{
	background-image: url(1.png);
}
.c1
{
	background-image: url(1.png), url(2.png);
}
.c2
{
	background-image: url(1.png), url(2.png);
	background-position: center bottom, left top;
}
